<!DOCTYPE html>
<html >
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
 
<div ng-app="myApp" ng-controller="customersCtrl">
 <form ng-submit="myFunc()">
  <input type="text">
  <input type="submit">
      
        Gender:
        <input type="radio" ng-model="gender" value="M">Male
        <input type="radio" ng-model="gender" value="F">Female
        <br/>
</form>
</div>
 
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $http.get("https://raw.githubusercontent.com/Amir22010/json/master/jsontest")
   .then(function (response) {$scope.names = response.data.members;
                            
                             angular.forEach($scope.names, function(value, index){
                             $scope.myFunc = function(){
                              //console.log($scope.names);
                                        // console.log($scope.names[index].firstname);
                                         //   console.log($scope.names[index].user);
                                          //  console.log($scope.names[index].location);
                                           // console.log($scope.names[index].gender);
                                         //console.log(key+":"+value.firstname);
                                           // console.log(key+":"+value.user);
                                          //  console.log(key+":"+value.location);
                                            //console.log(key+":"+value.gender);
                                           
                                         //  if($scope.names[index].gender==$scope.gender)
                                            
                                             if($scope.gender=="M"){
                                             //       console.log(key+":"+value.firstname);
                                                    console.log(x.user);
                                              }
                                           
                                 else 
                                     {
                                         console.log($scope.names[index].user);
                                     }
                                                    
                                                
                                            
                                            
                                 }});
   });
});    
    
</script>
 
</body>
</html>
